* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1,
h2 {
  color: #444;
}
.side-menu {
  position: fixed;
  background: #EEE1BA;
  width: 18vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.side-menu .logo-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.side-menu li{
  font-size: 24px;
  padding: 10px 30px;
  color: #894E3F;
  display: flex;
  align-items: center;
}

.side-menu li:hover{
  background: white;
  color: #f05462;

}
.category-dropdown {
  position: relative;
  }
  
  .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 0;
  }
  
  .category-dropdown:hover .dropdown-menu {
  display: block;
  }
  
  .dropdown-menu li {
  display: block;
  padding: 5px;
  }
  
  .dropdown-menu li a {
  color: #f05462;
  text-decoration: none;
  font-size: medium;
  }
  
  .dropdown-menu li:hover {
  background-color: #f1f1f1;
  }

  .products-dropdown {
    position: relative;
    }
    
    .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 0;
    }
    
    .products-dropdown:hover .dropdown-menu {
    display: block;
    }
    
    .dropdown-menu li {
    display: block;
    padding: 5px;
    }
    
    .dropdown-menu li a {
    color: #f05462;
    text-decoration: none;
    font-size: medium;

    }
    
    .dropdown-menu li:hover {
    background-color: #f1f1f1;
    }

    .orders-dropdown {
      position: relative;
      }
      
      .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      display: none;
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 5px 0;
      }
      
      .orders-dropdown:hover .dropdown-menu {
      display: block;
      }
      
      .dropdown-menu li {
      display: block;
      padding: 5px;
      }
      
      .dropdown-menu li a {
      color: #f05462;
      text-decoration: none;
      font-size: medium;

      }
      
      .dropdown-menu li:hover {
      background-color: #f1f1f1;
      }

.container {
  text-align: center; /* centers all content inside the container */
}

.header {
   position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-title {
  width: 90%;
  color: #894E3F;
  font-family: Nova Script;  
}

.btn {
  background: #894E3F;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-family: Nova Script;
}

.btn:hover{
  background: #894E3F;
  padding: 3px 8px;
  border: 2px solid  palevioletred;
}

.notifications{
    float: left;
}

.card {
  background-color: #EEE1BA;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  position: absolute;
  margin-top: 150px;
  margin-left: 275px;
  overflow: hidden;
  width: 300px;
  height: 150px;
}

/* .card-image {
  height: 200px;
  object-fit: cover;
  width: 100%;
} */

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.card-text {
  font-size: 20px;
  margin-bottom: 16px;
}

.card2 {
  background-color: #EEE1BA;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  position: absolute;
  margin-top: 150px;
  margin-left: 615px;
  overflow: hidden;
  width: 300px;
  height: 150px;
}

.card2-content {
  padding: 20px;
}

.card2-title {
  font-size: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.card2-text {
  font-size: 20px;
  margin-bottom: 16px;
}

.card3 {
  background-color: #EEE1BA;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  position: absolute;
  margin-top: 150px;
  margin-left: 955px;
  overflow: hidden;
  width: 300px;
  height: 150px;
}

.card3-content {
  padding: 20px;
}

.card3-title {
  font-size: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.card3-text {
  font-size: 20px;
  margin-left: 90px;
  margin-bottom: 16px;
}

.card4 {
  background-color: #EEE1BA;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-top: 150px;
  margin-left: 275px;
  overflow: hidden;
  width: 300px;
  height: 150px;
  position: fixed;
  bottom: 70px;
}

.card4-content {
  padding: 20px;
}

.card4-title {
  font-size: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.card4-text {
  font-size: 20px;
  margin-left: 90px;
  margin-bottom: 16px;
}

.card5 {
  background-color: #EEE1BA;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-top: 150px;
  margin-left: 615px;
  overflow: hidden;
  width: 300px;
  height: 150px;
  position: fixed;
  bottom: 70px;
}

.card5-content {
  padding: 20px;
}

.card5-title {
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.card5-text {
  font-size: 20px;
  margin-left: 100px;
  margin-bottom: 16px;
}


.card6 {
  background-color: #EEE1BA;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-top: 150px;
  margin-left: 955px;
  overflow: hidden;
  width: 300px;
  height: 150px;
  position: fixed;
  bottom: 70px;
}

.card6-content {
  padding: 20px;
}

.card6-title {
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.card6-text {
  font-size: 20px;
  margin-left: 100px;
  margin-bottom: 16px;
}




  




  
